$payoutColor: #1989fa;
$incomeColor: #ffa500;
$whiteColor: #fff;
$blackColor: #000;

.show {
  display: block;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.flex-c {
  justify-content: center;
  align-items: center;
}

.flex-warp {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.space-bt {
  justify-content: space-between;
}

.flex1 {
  flex: 1;
}

.text-c {
  text-align: center;
}

.text-lt {
  text-align: left;
}

.text-rt {
  text-align: right;
}

.font-bold {
  font-weight: bold;
}

.font-small {
  font-size: 12px;
}

.font-mid {
  font-size: 16px;
}

.font-big {
  font-size: 20px;
}

.font-bigger {
  font-size: 36px;
}

.font-big-plus {
  font-size: 42px;
}

.font-big-pro {
  font-size: 48px;
}

.font-big-super {
  font-size: 56px;
}

.padding-v-10 {
  padding: 10px 0;
}

.padding-v-15 {
  padding: 15px 0;
}

.padding-v-20 {
  padding: 20px 0;
}

.padding-v-30 {
  padding: 30px 0;
}

.padding-v-40 {
  padding: 40px 0;
}

.padding-b-10 {
  padding: 0 0 10px;
}

.padding-b-20 {
  padding: 0 0 20px;
}

.padding-t-40 {
  padding-top: 40px;
}

.gradient-text {
  color: transparent;
  background: linear-gradient(30deg, #32c5ff 25%, #b620e0 50%, #f7b500 75%, #20e050 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: auto;
  animation: gradientText 300s infinite linear;
}

@keyframes gradientText {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 28000px;
  }
}

@keyframes fadeIn-lt {
  from {
    transform: translate(-50vw);
  }

  to {
    transform: translate(0, 180deg);
  }
}

@keyframes fadeIn-rt {
  from {
    transform: translate(50vw);
  }

  to {
    transform: translate(0);
  }
}

@keyframes fadeIn-top {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeIn-bottom {
  0% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(0px);
  }
}

.fade-lt {
  animation: fadeIn-lt 2s;
}
.fade-rt {
  animation: fadeIn-rt 2s;
}
.fade-top {
  animation: fadeIn-top 2s;
}
.fade-bottom {
  animation: fadeIn-bottom 2s;
}